
  
  @import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic&family=Poppins&display=swap');


body{
    background-color: #f7f7f7;
}
.logo{
    width: 80px;
}



.bg-img{
    width: 100%;
    background-image: url('./images/cover\ shoes.jpg' );
    background-size: cover;
    background-position: center;
    height: 816px;
   
    
    
 
   

}


.navbar {
    background-color: #ffffff00;
    font-family: 'Poppins', sans-serif;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: right; 
}

.nav-list li {
    display: inline-block;
    margin-right: 20px; 
}

.nav-list li:last-child {
    margin-right: 0; 
}

.nav-list li a {
    color: white;
    text-decoration: none;
}

#arabic{font-family: 'Noto Kufi Arabic', sans-serif;

}
.text-cover{
    margin-top: 130px;

}
#button-seemore{
    opacity: 60%;
}


#button-seemore:hover{
    opacity: 100%;
}


.horizontal-container {
    display: flex;
    height: 50px;
}

.horizontal-item {
    margin-right: 10px; 
    background-color: #f4f4f4;
    border: solid 2px #cccccc;
    border-radius: 24px;
}

.img1 {
    background-image: url('./images/bg\ top\ brands.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(80%);
    background-color: black;
    
}




.img1:hover{
    filter: brightness(100%);
}


.img2{
    background-image: url('./images/gucci.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(80%);
}
.img2:hover{
    filter: brightness(100%);
}


.img3{
    background-image: url('./images/puma.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(80%);
}
.img3:hover{
    filter: brightness(100%);
}


.img4{
    background-image: url('./images/prada.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(80%);
}
.img4:hover{
    filter: brightness(100%);
}

.img5{
    background-image: url('./images/adidas.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(80%);
}
.img5:hover{
    filter: brightness(100%);
}


.img6{
    background-image: url('./images/zara.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(80%);
}
.img6:hover{
    filter: brightness(100%);
}


.img7{
    background-image: url('./images/supreme.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(80%);
}
.img7:hover{
    filter: brightness(100%);
}

.img8{
    background-image: url('./images/nike.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(80%);
}
.img8:hover{
    filter: brightness(100%);
}

.img9{
    background-image: url('./images/lpuis\ vuitton.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(80%);
}
.img9:hover{
    filter: brightness(100%);
}
.img10{
    background-image: url('./images/converse.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(80%);
}
.img10:hover{
    filter: brightness(100%);
}
.img11{
    background-image: url('./images/Levis.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(80%);
}
.img11:hover{
    filter: brightness(100%);
}

.card-img-top{
    filter: brightness(80%);
}
.card-img-top:hover{
    filter: brightness(100%);

}
.cd1{
    background-image: url('https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/ae178e75-38aa-4212-ba98-3f2d45b7ac13/air-max-90-shoes-0MB5rJ.png');
}